@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
h2 {
  color: #563b3b;
}

a {
  color: rgb(27, 27, 27);
  text-decoration: none;
}

a:hover {
  color: #563b3b;
}

body {
  font-family: "Merriweather", serif;
}

header {
  height: 10vh;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  font-size: 1.8rem;
  font-weight: 300;
  color: #563b3b;
  font-family: "Raleway", sans-serif;
}
nav a:hover {
  color: lightgray;
}

.hamburger {
  width: 30px;
  background-color: transparent;
  border-color: transparent;
  z-index: 4;
}
.hamburger span {
  height: 1px;
  width: 100%;
  position: relative;
  display: block;
  background-color: #563b3b;
  transition: all 0.5s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  margin: 10px 0;
}
.hamburger span:nth-child(3) {
  top: 0;
}

.hamburger.active span {
  background-color: #ffffff;
}
.hamburger.active span:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: -15px;
  transform: rotate(-45deg);
}

.cart svg {
  height: 30px;
  width: 30px;
  fill: #563b3b;
}
.cart svg:hover {
  fill: lightgray;
}

.nav-links {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #563b3b;
  display: none;
  opacity: 0;
}
.nav-links ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  transition: all 0.8s ease-in-out;
}
.nav-links ul li {
  margin-bottom: 2rem;
  list-style: none;
}
.nav-links ul li a {
  font-size: 1.8rem;
  color: #ffffff;
}
.nav-links ul li a:hover {
  font-size: 1.8rem;
  color: lightgrey;
}
.nav-links ul li:last-child {
  margin-bottom: 0;
}

.nav-links.active {
  display: block;
  opacity: 1;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.topimage {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  filter: grayscale(30%);
}

.item1 {
  background-image: url("../asset/Valentine.jpg");
}

.item2 {
  background-image: url("../asset/birthday.jpg");
}

.item3 {
  background-image: url("../asset/weeding4.jpg");
}

.btn-light {
  border: none !important;
}

.callToAction {
  color: white;
}
.callToAction h1 {
  font-size: 50px;
  padding-top: 320px;
}
.callToAction p {
  padding: 30px;
}
.callToAction button {
  padding: 14px 81px;
}

.Ads {
  margin-top: 100px;
  background-color: #8f6a6a;
}
.Ads h2 {
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
  font-family: "Raleway", sans-serif;
}
.Ads h2 span {
  font-size: 1rem;
}

.filter {
  margin-top: 100px;
  font-weight: 100;
}
.filter p {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}
.filter a {
  font-size: 11px;
}

.filtering {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.filtering li span {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #333;
}

.filtering li {
  margin-bottom: 20px;
}

.filtering li span {
  position: relative;
}

.filtering .current,
.filtering span:hover {
  color: #8f6a6a;
  cursor: pointer;
}

.filtering span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #8f6a6a;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.filtering .current::after,
.filtering span:hover::after {
  transform: scale(1, 1);
}

.filtering span.active {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .filtering-list-cont {
    margin: 50px 0 0;
  }
}
.EventTitele .allflower {
  font-size: 32px;
  font-weight: bold;
}
.EventTitele h2 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

#id {
  margin-top: 250px;
}

.eventItem {
  margin-top: 50px;
}

.carouselContainer {
  height: 300px;
}
.carouselContainer .carousel {
  height: 100%;
}
.carouselContainer .carousel .carousel-inner {
  height: 100%;
}
.carouselContainer .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.carouselContainer .carousel .carousel-inner .carousel-item .carouselBox {
  height: 100%;
}
.carouselContainer .carousel .carousel-inner .carousel-item .carouselBox .carouselImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  filter: grayscale(30%);
  height: 100%;
}
.carouselContainer .carousel .carousel-inner .carousel-item .carouselBox .carouselImage:last-child {
  margin-top: 10px;
}

.Contents {
  height: 600px;
}
.Contents .eventcontents {
  height: 100%;
  padding-top: 25px;
}
.Contents .eventcontents .product_name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.Contents .eventcontents .product_describe {
  font-size: 15px;
}
.Contents .eventcontents .product_price {
  font-size: 28px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: italic;
}
.Contents button {
  margin: 50px 0;
  height: 50px;
  border: 1px solid #563b3b !important;
  background-color: white !important;
}
.Contents button:hover {
  background-color: lightgray !important;
}

footer {
  margin-top: 40px;
  padding: 24px;
  font-weight: 100;
  background-color: #563b3b;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: #8f6a6a;
}
footer .sns {
  font-size: 1.5rem;
}
footer small {
  font-size: 0.8rem;
}

@media (min-width: 767px) {
  .navbar-brand {
    font-size: 25px;
  }
  .row > * {
    padding: 0;
  }
  .callToAction h1 {
    padding-top: 400px;
  }
  .carouselContainer .carousel .carousel-inner {
    padding: 12px;
  }
  .Contents {
    padding: 25px;
  }
  .Contents .eventcontents p {
    margin: 0 auto;
  }
  .Contents .eventcontents .product_describe {
    font-size: 18px;
  }
  .Contents .eventcontents button {
    margin: 0 auto;
  }
  footer {
    margin-top: 100px;
  }
}
@media (min-width: 1000px) {
  .navbar-brand {
    font-size: 40px;
  }
  .navContainer {
    flex-direction: column;
  }
  .row > * {
    padding: 0;
  }
  .callToAction h1 {
    padding-top: 320px;
  }
  .EventTitele h2 {
    margin-top: 150px;
    font-size: 32px;
  }
  .carouselContainer {
    height: 400px;
  }
  .Contents {
    padding: 0px 10px 150px 10px;
  }
  .Contents .eventcontents .product_describe {
    font-size: 14px;
  }
  .Contents .eventcontents button {
    margin: 0 auto;
  }
  footer {
    margin-top: 120px;
  }
}
@media (min-width: 1920px) {
  .callToAction h1 {
    padding-top: 430px;
    font-size: 75px;
  }
  .callToAction p {
    font-size: 32px;
  }
  .EventTitele h2 {
    margin-top: 150px;
  }
  .carouselContainer {
    height: 400px;
  }
  .Contents {
    padding: 0px 10px 150px 10px;
  }
  .Contents .eventcontents .product_describe {
    font-size: 14px;
  }
  .Contents .eventcontents button {
    margin: 0 auto;
  }
  footer {
    margin-top: 120px;
  }
}/*# sourceMappingURL=style.css.map */